<!-- Error login rectangule -->
<% errors.forEach(function(message){ %>
<div class="alert alert-danger text-small"><%= message %></div>         
<% })%>

<!-- Success login rectangule -->
<% success.forEach(function(message){ %>
<div class="alert alert-success text-small"><%= message %></div>            
<% })%>